<h1>{{ nombre }}</h1>
<dl>
    <td>Nombre:</td>
    <dd>{{ nombre }}</dd>

    <td>Edad:</td>
    <dd>{{ edad }}</dd>

    <td>Metodo:</td>
    <dd>{{ getHeroDescription( nombre) }}</dd>

    <td>Capitalizado:</td>
    <dd>{{ capitalizedName }}</dd>
</dl>

<button class="btn btn-primary mx-2" *ngIf="nombre !== 'Clark Kent'" (click)='cambiarNombre()'>
  Cambiar Nombre
</button>

<button class="btn btn-primary mx-2" *ngIf="edad === 39" (click)="cambiarEdad()">
  Cambiar Edad
</button>
<button class="btn btn-primary mx-2" *ngIf="nombre !== 'Batman'" (click)="chageHero()">
  Cambiar Heroe
</button>
<button class="btn btn-primary mx-2" *ngIf="nombre !== 'Superman'" (click)="reset()">
  Resetear
</button>


